i {
    cursor: pointer;
    color: #6c757d;
}

.row {
    cursor: default;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.iconTrue {
    color: #28a745;
}

.iconDelete:hover {
    color: #dc3545;
}

.overflow-row {
    height: 26rem;
    width: 100%;
}

#countCell {
    text-align: center;
}